%html
  %head
    = css :application
    -#%script{ src: 'http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU'}
    = js :application
    %title
      Продажа стеклопластиковой арматуры
  %body
    = yield
    = haml :modal